.guide-root
  position relative
  text-align center
  font-size 0
  .kv
    position relative
    width 100%
    height 500px
  .loading-root
    position relative
  .input-root
    position relative
    width: 40%;
    height 220px
    padding: 20px;
    .input-component
      padding: 10px;
  .button-root
    position relative
    width: 40%;
    padding: 20px;
    .inner 
      background #ccc
      height 220px
      display flex
      justify-content center
      align-items center
      flex-direction: row

  .twoinline
    display inline-block
    vertical-align top
    width 40%
  .gap
    display inline-block
    vertical-align top
    width 5%

